.container {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

.topContainer {
    display: flex;
    justify-content: space-between;

    width: 100%;

    margin-bottom: 14px;
}

.list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 0;
}

.location {
    color: #262626;
    font-family: Gilroy, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.dateContainer {
    display: flex;
    align-items: center;
    gap: 27px;
    min-width: max-content;
}

.date {
    color: #545454;
    font-family: Gilroy, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    border-bottom: 1px solid #ACACAC;
}

.mainContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;

    width: 100%;
    margin-top: 19px;
}

@media (min-width: 768px) {
    /* .topContainer {
        width: 50%;
    } */
    .mainContainer {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

.image {
    height: auto;
    max-width: 100%;
    object-fit: contain;
}

.gallery {
    display: block;
    max-height: max-content;
}

.text {
    color: #262626;
    font-family: Gilroy, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.textContainer {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: 1;
    max-width: 70%;

}


.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    flex-wrap: wrap;
    height: 35px;
    color: #aeaeae;
    gap: 14px;
    padding: 12.5px 0;
    align-self: stretch;
}

.commentsContainer {
    display: flex;
    justify-content: space-between;
    margin: auto 0px auto 5px;
}

.shareContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;

    cursor: pointer;
}

.img {
    cursor: pointer;
}

.commentsIcon {
}

.comments {
    display: flex;
    font-weight: 400;
    line-height: 15px;
    font-size: 10px;
}

.shareIcon {
}

.share {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
}

.liked {
    color: #55BEF5;
}

.tagsContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: hidden;
}

.tag {
    font-size: 10px;
    cursor: pointer;
    background-color:  rgb(218, 224, 225);
    padding: 2px;
    padding-left: 5px;
    border-radius: 10px;
    color: grey;
}

.daysDescriptionContainer {
    overflow-y: hidden;
}

.dayDescription {
    font-size: 10px;
    overflow-y: hidden;
}

.date {
    color: grey;
    font-size: 12px;
}

.album {
    height: 1000px;
    width: 1000px;
}