* {
  font-family: 'Gilroy-Regular', sans-serif;
}

h3, h2 {
    margin: 0;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 32px;
  align-items: center;
  text-align: center;
  font-family: 'Gilroy-Bold', sans-serif;
  color: #1F1F20;
}

.mainContainer {
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    padding: 0 40px 80px 40px;
}

.mainContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;

  background-image: url('/place_background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.suggestedTrips {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.suggestedTripsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 45px 40px;
  box-sizing: border-box;

  border: 1px solid #EEEEEA;
  background-color: rgba(254, 254, 254, 0.7);
  box-shadow: rgba(222, 222, 215, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 40px;
  margin-bottom: 40px;
}

.containerComments {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 1440px;
  width: 100%;
  padding: 40px 40px 48px 40px;
  margin: 0, 40px, 69px;
  margin-top: 0;
  margin-bottom: 69px;
  border: 1px solid #EEEEEA;
  border-radius: 40px;
  background-color: rgba(254, 254, 254, 0.7);
  backdrop-filter: blur(10px);
  box-sizing: border-box;
}

.tabsContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.tab {
  font-family: 'Gilroy-Regular', sans-serif;
  width: 45%;
  font-size: 24px;
  color: #1F1F20;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid transparent;
}

.activeTab {
  font-family: 'Gilroy-Bold', sans-serif;
  border-bottom: 1px solid #CFB317;
}

.main {
    max-width: 1360px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;

    box-sizing: border-box;
    overflow-x: auto;
}

.seeMoreButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 20px;
    background-color: transparent;
    font-family: 'Gilroy-semibold', sans-serif;
    color: #444445;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 18px;
    line-height: 17px;
}

.titleAndRating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

@media (max-width: 500px) {
    .main {
        padding: 30px 15px 15px 15px;
    }
}

.post {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1200px;
}

@media (min-width: 768px) and (max-width: 1200px){
    .post {
    }
}

.container {
    display: flex;
    flex-direction: column;
    gap: 28px;
    height: 100%;
    padding: 80px 40px;
    border: 1px solid #EEEEEA;
    background-color: rgba(254, 254, 254, 0.7);
    box-shadow: rgba(222, 222, 215, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 40px;

    margin-bottom: 40px;
}

.postContainer {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.postIMage {
    height: auto;
    max-width: 50%;
    object-fit: contain;
    border-radius: 24px;
}

.loader {
    border-radius: 8px;
    height: 50vh;
    margin-top: 0.83em;
}

.empty {
    color: #FFFFFF;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


.footer {
    display: flex;
    align-items: center;
    align-self: flex-start;
    height: 35px;
    color: #aeaeae;
    gap: 14px;
    padding: 12.5px 0;
}

.commentsContainer {
    display: flex;
    justify-content: space-between;
    margin: auto 0px auto 5px;
}

.shareContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;

    cursor: pointer;
}

.categoryTitle { 
    width: fit-content;
    padding: 5px 10px;
    border-radius: 20px;

    font-family: Gilroy sans-serif;
    font-weight: 500;
    color: black;

    background-color: white;
}

.addReviewContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 10px;
    padding: 5px 10px;
    border-radius: 20px;
    border: 2px solid transparent;
    background-color: #FF5C00;
    color: white;
    cursor: pointer;
    transition: border-color 0.3s box-shadow 0.3s;
}

.button:hover {
    border-color: #646cff;
    box-shadow: 0 0 10px 0 rgba(100, 108, 255, 0.3);
}

.reviewsContainer {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: flex-end;
}

.mapContainer {
    width: 50%;
    border-radius: 24px;
}

.mapContainer div {
  border-radius: 24px;
}

.mapContainerImage {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.description {
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    color: #1F1F20;
}

@media (max-width: 768px) {
    .mapContainer {
        height: 200px;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 16px;
    }
    .categoryTitle {
        font-size: 16px;
    }
    .description {
        font-size: 16px;
    }
}

.reviewControl {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}