.container {
  margin: 0 10px 0 40px;
  max-width: 50vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.title {
  margin: 50px 0 0 50px;
  font-size: 15px;
  font-weight: 500;
}

.cardContainer {
  display: flex;
  padding: 7px;
  margin: 25px 25px 20px 0;
  flex-direction: column;
  width: 43%;
  border-radius: 10px;
  background: #fff;
}

.cardContainer:nth-child(even) {
  margin-right: 0;
}

.caption {
  margin: 14px 0;
  font-size: 14px;
  font-weight: 400;
  height: 40px;
  line-height: 20px;
  overflow: hidden;
  /* text-overflow: ellipsis; */
  /* white-space:nowrap; */
}

.headerContainer {
  display: flex;
  justify-content: space-around;
  height: 40px;
}

.description {
  margin: auto 20px auto 3px;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}

.userName {
  font-size: 10px;
  font-weight: 400;
}

.timeAgo {
  color: #aeaeae;
  font-size: 7px;
  font-weight: 400;
}

.stars {
  margin: auto 0;
}

.joinBtn {
  margin: auto 0;
  width: 41px;
  height: 17px;
  border-radius: 48px;
  background: #dce8f5;
  border: none;
  font-size: 10px;
  font-weight: 100;
}

img {
  margin-bottom: 5px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  color: #aeaeae;
}

.commentsContainer {
  display: flex;
  justify-content: space-between;
  margin: auto 0px auto 5px;
}

.shareContainer {
  display: flex;
  justify-content: space-between;
  margin: auto 0px auto 5px;
}

.commentsIcon {
  margin-right: 4px;
}

.comments {
  display: flex;
  margin: auto 0;
  font-weight: 400;
  line-height: 15px;
  font-size: 10px;
}

.shareIcon {
  margin: auto 5px auto 0;
}

.share {
  margin: auto 2px;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}

.dotsIcon {
  margin: auto 8px auto 0;
  /* margin-left: 10px; */
}

@media (max-width: 375px) {
  .cardContainer {
    width: 100%;
    justify-content: center;
  }

  .container {
    /* width: 100vw; */
  }
}
