.container {
  width: 40vw;
  background-color: #dce8f5;
  padding: 30px 50px;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.header {
  font-size: 20px;
  font-weight: 700;
}

.text {
  margin: 23px 0;
  font-size: 13px;
  font-weight: 500;
}

.button {
  width: 120px;
  height: 35px;
  font-weight: 400;
  font-size: 13px;
  background-color: #55bef5;
  border-radius: 45px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.icon {
  margin-right: auto;
  scale: 1.7;
}

.title {
  position: relative;
  margin: 40px 0;
  font-size: 18px;
  font-weight: 700;
  z-index: 10;
}

.relativeBlock {
  position: relative;
}

.inputWrapper {
  position: relative;
  display: flex;
  width: 35vw;
  /* flex: 3; */
  padding: 0 10px;
  height: 50px;
  border-radius: 45px;
  background-color: #ededed;
  border: none;
  box-shadow: 1px 2px 24px 0px rgba(85, 190, 245, 0.28);
  z-index: 10;
}

.input {
  padding-left: 5px;
  width: 100%;
  background-color: transparent;
  vertical-align: auto;
  border: none;
}

.input:focus {
  outline: none;
}

.searchIcon {
  margin: auto 5px auto 5px;
  scale: 1.5;
}

.search {
  color: #55bef5;
}

.bookIcon {
  position: absolute;
  top: -191px;
  left: -48px;
  pointer-events: none;
}

@media (max-width: 375px) {
  .container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
  }
}
