html {
  height: fit-content;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Gilroy-Regular', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

:root {
  height: 100%;
}

.main {
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;

  padding-inline: 55px;
  box-sizing: border-box;
  background-color: #F8F7F1;
  position: relative;
  z-index: 1;
}

.main::before {
  content: "";
  background-image: url('/search_background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.mainContainerFull {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #F8F7F1;
}

.filterTitle {
  align-self: center;
}

.mainContainer {
  max-width: 1500px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 24px;
  margin-bottom: 104px;
}

.filtersContainer {
  grid-column: 1 / 5;
  display: flex;
  height: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 24px 16px;
  box-sizing: border-box;

  border: 1px solid #EEEEEA;
  background-color: rgba(254, 254, 254, 0.7);
  box-shadow: rgba(222, 222, 215, 0.5);
  backdrop-filter: blur(10px);

  border-radius: 40px;
}

.resultsContainer {
  grid-column: 5 / -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  padding: 24px 16px;
  margin-bottom: 24px;
  box-sizing: border-box;
  height: fit-content;

  border: 1px solid #EEEEEA;
  background-color: rgba(254, 254, 254, 0.7);
  box-shadow: rgba(222, 222, 215, 0.5);
  backdrop-filter: blur(10px);

  border-radius: 40px;
}

@media (max-width: 1059px) {
  .main {
    padding-inline: 16px;
  }

  .mainContainer {
    row-gap: 24px;
  }

  .filtersContainer {
    grid-column: 1 / -1;
    border-radius: 40px;
  }

  .resultsContainer {
    grid-column: 1 / -1;
    border-radius: 40px;
  }
}

.footer {
  width: 100%;
  z-index: 1;
  position: relative;
  align-self: flex-end;
}

.filterOptions {
  justify-content: center;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 16px;
}

.dates {
  grid-column: span 2;
  order: 1;
}

.dates div {
  width: 100%;
  border-radius: 12px;
}

.dates div input {
  border-radius: 12px;
}

.dates div:hover {
  border-color: transparent;
  outline: none;
}

.rating {
  grid-column: span 2;
  order: 2;
}

.price {
  grid-column: span 2;
  order: 3;
}

.rangeContainer {
  order: 4;
  grid-column: span 4;
  position: relative;
  width: 100%;
  height: 24px;
}

.sliderTrack {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 8px;
  background-color: #ddd;
  border-radius: 4px;
}

.rangeSelected {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 8px;
  background-color: #4CAF50;
  border-radius: 4px;
}

.rangeSlider {
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  pointer-events: none;
}

.rangeSlider:focus {
  outline: none;
  border: none;
}

.rangeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  background-color: #4CAF50;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: all;
}

.rangeSlider::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background-color: #4CAF50;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: all;
}

.rangeMin {
  z-index: 2;
}

.rangeMax {
  z-index: 1;
}

.inputsContainer {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 30px;
  gap: 2px;
  margin-bottom: 10px;

  background-color: #FEFEFE;
  border-radius: 12px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputGroup input {
  width: 35px;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  border: none;
  outline: none;
  border-radius: 12px;
  margin-left: 4px;
}

.inputGroup input:focus {
  border: none;
  outline: none;
}

.inputGroup input::-webkit-inner-spin-button,
.inputGroup input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.budgetIcon {
  margin-left: 16px;
}

.statusContainer {
  order: 5;
  grid-column: span 2;
}

.travelersContainer {
  order: 6;
  grid-column: -1 / 1;
}

@media (max-width: 1059px) {
  .filterOptions {
    grid-template-columns: repeat(12, 1fr);
  }

  .dates {
    grid-column: 1 / 5;
    order: 1;
  }

  .rating {
    grid-column: 8 / -1;
    order: 3;
  }

  .statusContainer {
    grid-column: 5 / 8;
    order: 2;
  }

  .price {
    grid-column: 1 / 5;
    order: 4;
  }
  
  .rangeContainer {
    grid-column: 1 / 5;
    order: 6;
  }

  .travelersContainer {
    grid-column: 5 / -1;
    order: 5;
  }
}

@media (max-width: 768px) {
  .filterOptions {
    grid-template-columns: repeat(2, 1fr);
  }

  .dates {
    grid-column: 1 / -1;
    order: 1;
  }

  .rating {
    grid-column: 1 / -1;
    order: 2;
  }

  .price {
    grid-column: 1 / -1;
    order: 3;
  }

  .statusContainer {
    grid-column: 1 / -1;
    order: 5;
  }

  .rangeContainer {
    grid-column: 1 / -1;
    order: 4;
  }

  .travelersContainer {
    grid-column: 1 / -1;
    order: 6;
  }
}

.statuses {
  display: flex;
  align-items: center;
  gap: 8px;
}

.titlesFilter {
  margin-bottom: 8px;

}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6.5px 8px;
  border-radius: 12px;
  background-color: #EEEEEA;
  border: 1px solid #EEEEEA;
  box-sizing: border-box;
}

.isStatusActive {
  background: #FEFEFE;
  border-color: #4CAF50;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 10px 15px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #f1f1f1;
}

.pagination button.active {
  border-color: #4CAF50;
  font-weight: bold;
}

.tripsContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.ellipsis {
  margin: 0 5px;
  padding: 10px 15px;
  color: #888;
}

@media (max-width: 768px) {
  .ellipsis {
    padding-inline: 0;
  }
}

.buttonToggle {
  position: absolute;
  top: 45%;
  left: 200%;
  transform: translateY(-50%);
}

.filtersTitleToggle {
  position: relative;
  display: flex;
}

.noTripsImage {
  width: 50%;
  height: 100%;
  object-fit: contain;
  border-radius: 40px;
  align-self: center;
}

.deleteRange {
  position: absolute;
  cursor: pointer;
  top: 50%;
  right: 1%;
  transform: translateY(-50%) rotate(45deg);
}

.resetButton {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 7;
  padding: 10px 15px;
  text-wrap: nowrap;
  background-color: #D51104;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  border: 1px solid #f1f1f1;
}