.footer {
    display: flex;
    align-items: center;
    height: fit-content;
    color: #aeaeae;
    gap: 14px;
}

.shareContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 6px;

    cursor: pointer;
}

@media (max-width: 768px) {
  .shareContainer {
    gap: 3px;
  }

  .footer {
    gap: 10px;
    justify-content: flex-end;
    width: 100%;
  }
}

.allowReplies {
  color: #a67c52;
}

.actionIcons {
  width: 24px;
  height: 24px;
}

.share {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.liked {
    color: #55BEF5;
}

.dislike {
    rotate: 180deg;
}

.disliked {
    color: #F00;
}
