.profileContainer {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.container {
  margin: 0 10px 0 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.cardContainer {
}
