.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 125px;
    box-sizing: border-box;

    border-radius: 8px;
    background: #FFF;

    padding: 6px 10px;
}

.footer {
    display: flex;
    align-items: center;
    height: 35px;
    color: #aeaeae;
    gap: 14px;
}

.shareContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;

    cursor: pointer;
}

.share {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
}

.liked {
    color: #55BEF5;
}

.dislike {
    rotate: 180deg;
}

.disliked {
    color: #F00;
}

.replies_container {
    width: 95%;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.replies_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}