.container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 20px;
    max-width: min-content;
    box-sizing: border-box;

    font-family: Gilroy, sans-serif;

    border-radius: 20px;
    /* border: 1px solid rgb(164, 162, 162); */
    background-color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 1200) {
    .container {
        max-width: 520px;
    }
}

@media (max-width: 500) {
    .container {
        max-width: min-content;
        width: 300px;
    }
}


.listContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: fit-content;
}

.title {
    margin: 0;
}

.userContainer {
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    width: 300px;

    transition: box-shadow 0.3s;
    cursor: pointer;
}

.userContainer:hover {
    box-shadow: rgb(38, 57, 77) 0px 10px 20px -10px;
}

.descriptionContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.avatar {
    width: 58px;
    height: 58px;
    flex-shrink: 0;
    border-radius: 50%;
}