.container {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  height: 264px;
  max-width: 411px;
  width: 100%;
  border-radius: 40px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  z-index: 1;
}

.textContainer {
  position: relative;
  backdrop-filter: blur(2px);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title {
  font-family: 'Gilroy-Bold';
  font-weight: 700;
  font-size: 32px;
  line-height: 38.4px;
  color: #FFFFFF;
  text-align: center;
  margin: 0;
}